<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="../../css/index.css">
	<script src="../../js/vue.js"></script>
	<!-- import JavaScript -->
	<script src="../../js/element-ui.js"></script>
	<script src="../../js/axios.min.js"></script>
	<script src="../../js/api.js"></script>
	<style>
		.fields-group{
			margin:10px 0;border: 1px dashed lightgrey;border-radius: 10px;padding: 5px 10px;
		}
		.bg-purple-light {
			background: #e5e9f2;
		}

		body > .el-container {
			margin-bottom: 40px;
		}
		.el-container:nth-child(5) .el-aside,
		.el-container:nth-child(6) .el-aside {
			line-height: 260px;
		}

		.el-container:nth-child(7) .el-aside {
			line-height: 320px;
		}
		.el-select{
			width: 100%!important;
		}
		.el-select-group__title {
			padding-left: 10px;
			font-size: 20px;
			color: black;
			line-height: 35px;
			background: rgba(0,0,0,0.1);
			font-weight: 700;
			position: relative;
		}
		.el-select-group__title::after{
			content: '（包下分支列表）';
			font-size: 12px;
		}
	</style>
</head>
<body>
<div id="app">
	<el-container>

		<!-- 页面头信息 -->
		<el-header height="30px;">
			<el-row>
				<el-col :span="24">
					<el-page-header @back="goBack" content="添加工单">
					</el-page-header>
				</el-col>
			</el-row>
		</el-header>

		<!-- 页面主体信息 -->
		<el-container>
			<!--侧边的空白页面可以不用 -->
			<el-aside width="200px"></el-aside>

			<!-- 主页面 -->
			<el-main
					v-loading.fullscreen.lock="loading"
					element-loading-text="拼命加载中..."
					element-loading-spinner="el-icon-loading"
					element-loading-background="rgba(0, 0, 0, 0.8)"
			>
				<el-form ref="form" :model="form" label-width="100px">
					<el-row>
						<el-col :span="22">
							<el-form-item label="标题">
								<el-input v-model="form.title"></el-input>
							</el-form-item>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="22">
							<el-form-item label="提交者">
								<el-input v-model="form.author"></el-input>
							</el-form-item>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="22">
							<el-form-item label="sql语句">
								<el-button @click="add('sql',{db:'',crud:'',remark:''})" type="primary">添加</el-button>
								<div v-for="(item,ind) in form.sql" :key="ind" class="fields-group">
									<el-row>
										<el-col :span="10">
											<el-select v-model="item.db" filterable multiple clearable placeholder="请选择库名">
												<el-option label="请选择库名" value="''"></el-option>
												<el-option :label="db.label" :value="db.value" v-for="db in databases"></el-option>
											</el-select>
										</el-col>
										<el-col :span="12" style="padding: 0 10px;margin-bottom:10px; ">
											<el-input type="text" v-model="item.remark" placeholder="请输入描述"></el-input>
										</el-col>
										<el-col :span="2">
											<el-button type="danger" icon="el-icon-delete" circle @click="del('sql',ind)"></el-button>
										</el-col>
									</el-row>

									<el-row>
										<el-col>
											<el-input type="textarea" v-model="item.crud" :row="6" :placeholder="`请输入sql语句`"></el-input>
										</el-col>
									</el-row>
								</div>
							</el-form-item>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="22">
							<el-form-item label="package">
								<el-button type="primary" @click="add('package',{name:'',branch:''})">添加</el-button>
								<div v-for="(item,ind) in form.package" :key="ind" class="fields-group">
									<el-row :gutter="10" style="margin-top: 10px;margin-bottom: 10px;">
										<el-col :span="10">
											<el-select v-model="item.name" filterable multiple clearable placeholder="请选择包名" @change="selectChange(item.name,`package_${ind}`)">
												<el-option label="请选择包名" value="''"></el-option>
												<el-option :label="option.label" :value="option.value" v-for="option in packages"></el-option>
											</el-select>
										</el-col>
										<el-col :span="12">
											<el-select v-model="item.branch" filterable multiple clearable placeholder="请选择分支" @visible-change="visibleChange(`package_${ind}`)">
												<el-option label="请选择分支" value="''"></el-option>
												<el-option-group v-if="branches[`package_${ind}`]"
														v-for="(group,prop) in branches[`package_${ind}`]"
														:key="prop"
														:label="prop">
													<el-option :label="option.label" :value="option.value" v-for="option in group"></el-option>
												</el-option-group>
											</el-select>
										</el-col>
										<el-col :span="2">
											<el-button type="danger" icon="el-icon-delete" circle @click="del('package',ind)"></el-button>
										</el-col>
									</el-row>
								</div>
							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="22">
							<el-form-item label="service">
								<el-button type="primary" @click="add('service',{
								name:'',
								branch:'',
								env:[{
									key:'',
									value:'',
									handle:'',
								}],
								script:[
									{
										cmd:'',
										remark:'',
									}
								]
							})">添加</el-button>
								<div v-for="(item,ind) in form.service" class="fields-group">
									<el-row :gutter="10" style="margin-top: 10px;margin-bottom: 10px;">
										<el-col :span="10">
											<el-select v-model="item.name" filterable multiple clearable placeholder="请选择服务器名" @change="selectChange(item.name,`service_${ind}`)">
												<el-option label="请选择服务器名" value="''"></el-option>
												<el-option :label="option.label" :value="option.value" v-for="option in services"></el-option>
											</el-select>
										</el-col>
										<el-col :span="12">
											<el-select v-model="item.branch" filterable multiple clearable placeholder="请选择分支名" @visible-change="visibleChange(`service_${ind}`)">
												<el-option label="请选择分支" value="''"></el-option>
												<el-option-group
														v-for="(group,prop) in branches[`service_${ind}`]"
														:key="prop"
														:label="prop">
													<el-option :label="option.label" :value="option.value" v-for="option in group"></el-option>
												</el-option-group>
											</el-select>
										</el-col>
										<el-col :span="2">
											<el-button type="danger" icon="el-icon-delete" circle @click="del('service',ind)"></el-button>
										</el-col>

									</el-row>
									<el-row :gutter="20">
											<el-col :span="12">
												<div class="fields-group">
													<el-row style="margin-left: 15px;">
														<el-col>
															<el-button @click="add('service',{
									key:'',
									value:'',
									handle:'',
								},'env',ind)" type="primary">增加</el-button>
														</el-col>
													</el-row>
													<el-row v-for="(item2,index) in item.env" :gutter="10" style="margin-top:10px;margin-bottom: 10px;margin-left: 10px; ">
														<el-col :span="6">
															<el-input v-model="item2.key" filterable multiple clearable placeholder="请输入Key值"></el-input>
														</el-col>
														<el-col :span="6">
															<el-input v-model="item2.value" filterable multiple clearable placeholder="请输入Value值"></el-input>
														</el-col>
														<el-col :span="8">
															<el-select v-model="item2.handle">
																<el-option label="增加" value="add"></el-option>
																<el-option	label="修改" value="fix"></el-option>
																<el-option	label="删除" value="del"></el-option>
															</el-select>
														</el-col>
														<el-col :span="2">
															<el-button type="danger" icon="el-icon-delete" circle @click="del('service',index,'env',ind)"></el-button>
														</el-col>
													</el-row>
												</div>

											</el-col>
											<el-col :span="12">
												<div class="fields-group">
													<el-row>
														<el-col>
															<el-button @click="add('service',{
										cmd:'',
										remark:'',
									},'script',ind)">增加</el-button>
														</el-col>
													</el-row>
													<div class="fields-group" v-for="(item2,index) in item.script ">
														<el-row :gutter="10" style="margin-top:10px;margin-bottom: 10px;margin-left: 10px;">
															<el-col :span="20">
																<el-input v-model="item2.cmd" placeholder="请输入命令"></el-input>
															</el-col>
															<el-col :span="2">
																<el-button type="danger" icon="el-icon-delete" circle @click="del('service',index,'script',ind)"></el-button>
															</el-col>
														</el-row>
														<el-row style="margin-left: 15px;">
															<el-col :span="20">
																<el-input type="textarea" v-model="item2.remark" placeholder="请输入命令备注"></el-input>
															</el-col>
														</el-row>
													</div>
												</div>

											</el-col>
									</el-row>
								</div>

							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="22">
							<el-form-item label="描述">
								<el-input type="textarea" :rows="6" v-model="form.content" placeholder="请输入描述"></el-input>
							</el-form-item>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="22">
							<el-form-item label="">
								<el-button @click="goBack">返回</el-button>
								<el-button @click="submit" type="primary" style="margin-left: 40%">提交</el-button>
							</el-form-item>
						</el-col>
					</el-row>
				</el-form>
			</el-main>
		</el-container>

	</el-container>

</div>

<script>
	var app=new Vue(
			{
				el: '#app',
				data : function () {
					let params=new URLSearchParams(location.search);
					let name=params.get('name');
					let release_id=params.get('release_id');
					return {
						form: {
							title: '',
							author:'',
							sql:[{db:'',crud:'',remark:''}],
							package:[{name:'',branch:''}],
							service:[{
								name:'',
								branch:'',
								env:[{
									key:'',
									value:'',
									handle:'',
								}],
								script:[
									{
										cmd:'',
										remark:'',
									}
								]
							}],
							content:'',
						},
						col:8,//表格列跨的span数
						/**
						 * 数据库筛选源 可以从接口获取后赋值给该字段
						 */
						databases:[
							{label:'数据库1',value:1},
							{label:'数据库2',value:2},
							{label:'数据库3',value:3},
							{label:'数据库4',value:4},
							{label:'数据库5',value:5},
							{label:'数据库6',value:6},
						],
						/**
						 * 包名筛选 可以从接口获取后复制给该字段
						 */
						packages:[
							{label:'包名1',value:1},
							{label:'包名2',value:2},
							{label:'包名3',value:3},
							{label:'包名4',value:4},
							{label:'包名5',value:5},
							{label:'包名6',value:6},
						],
						/**
						 * 分支名 可以从接口获取后赋值给该字段
						 */
						branches:{},
						/**
						 * 服务器名 可以从接口获取后赋值给该字段
						 */
						services:[
							{label:'服务器1',value:1},
							{label:'服务器2',value:2},
							{label:'服务器3',value:3},
							{label:'服务器4',value:4},
							{label:'服务器5',value:5},
							{label:'服务器6',value:6},
						],
						name:name,
						release_id:release_id,
						loading:false,
					}
				},
				created: function(){
					if(this.release_id!=''&&this.release_id!=null){
						this.getInfo();
					}
					this.getCommon();
					if(this.name!=null&&this.name!=''){
						this.getBranch(this.name);
					}

				},
				methods:{
					del(type,ind,prop,itemIndex){
						if(prop){
							this.form[type][itemIndex][prop].splice(ind,1);
						}else{
							this.form[type].splice(ind,1);
						}

						console.info(this.form);
					},
					add(type,item,prop,itemIndex){
						if(prop){
							this.form[type][itemIndex][prop].push(item);
						}else{
							this.form[type].push(item);
						}

						console.info(this.form);
					},
					selectChange(name,signal){
						this.getBranchParams={name,signal};
					},
					visibleChange(signal){
						//当展示的下拉框和选择的包或服务器是同一组建的时候才会发送请求。
						if(event.type=='focus'&&signal==this.getBranchParams.signal){
							this.getBranch(this.getBranchParams);
						}
					},
					getCommon(){
						axios.get(api.devops_release_common).then(function (result) {
							let data=result.data;
							if(data.status==1){
								data=data.data;
								app.databases=data.databases;
								app.packages=data.packages;
								app.services=data.services;
							}else{
								alert(data.msg);
							}
						}).catch(function (e) {
							console.error(e);
						})
					},
					getBranch({name,signal}){
						axios.get(api.devops_git_branch,{params:{name:name.join(',')}}).then(function (result) {
							let data=result.data;
							if(data.status==1){
								data=data.data;
								app.$set(app.branches,signal,data);
							}else{
								alert(data.msg);
							}
						}).catch(function (e) {
							console.error(e);
						})
					},
					getInfo(){
						this.loading=true;
						axios.get(api.devops_release_info, {params:{release_id: this.release_id}}).then(function (result) {
                           let data=result.data;
                           if(data.status==1){
                           		data=data.data;
                           		delete data.created_at;
                           		delete data.status;
							    delete data.updated_at;
							    app.release_id=data.id;
							    app.form=data;
						   }else{
							   app.$message.error(data.msg);
						   }
                           app.loading=false;
						}).catch(function (e) {
							app.$message.error(e);
							app.loading=false;
						})
					},
					submit(){
						let url=this.release_id!=''?api.devops_release_edit:api.devops_release_add
						axios.post(url,this.form).then(function (result) {
							let data=result.data;
							if(data.status==1){
								app.$message.success('数据提交成功');
							}else{
								app.$message.error(data.msg)
							}
						}).catch(function (e) {
							app.$message.error(e)
						})
					},
					goBack(){
					    history.back()
					}
				}
			}
	);
</script>
</body>
</html>



