<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="./js/api.js"></script>
	<style>
		.fields-group{
			margin:10px 0;border: 1px dashed lightgrey;border-radius: 10px;padding: 5px 10px;
		}
		.bg-purple-light {
			background: #e5e9f2;
		}
		html,body{
			min-width: 1430px;
		}
		body > .el-container {
			margin-bottom: 40px;
		}
		.el-container:nth-child(5) .el-aside,
		.el-container:nth-child(6) .el-aside {
			line-height: 260px;
		}

		.el-container:nth-child(7) .el-aside {
			line-height: 320px;
		}
	</style>
</head>
<body>
<div id="app">
	<el-container>

		<!-- 页面头信息 -->
		<el-header>
			<el-row>
				<el-col :span="24">
					<div class="grid-content bg-purple-light">
		                <span>
		                    工单> <small>添加工单</small>
		                </span>
					</div>
				</el-col>
			</el-row>
		</el-header>

		<!-- 页面主体信息 -->
		<el-container>
			<!--侧边的空白页面可以不用 -->
			<el-aside width="200px"></el-aside>

			<!-- 主页面 -->
			<el-main>
				<el-form ref="form" :model="form" label-width="100px">
					<el-row>
						<el-col :span="22">
							<el-form-item label="标题">
								<el-input v-model="form.title"></el-input>
							</el-form-item>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="22">
							<el-form-item label="提交者">
								<el-input v-model="form.author"></el-input>
							</el-form-item>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="22">
							<el-form-item label="sql语句">
								<el-button @click="add('sql',{db:'',crud:'',remark:''})">添加</el-button>
								<div v-for="(item,ind) in form.sql" :key="ind" class="fields-group">
									<el-row>
										<el-col :span="10">
											<el-select v-model="item.db" placeholder="请选择库名">
												<el-option label="请选择库名" value="''"></el-option>
												<el-option :label="db.label" :value="db.value" v-for="db in databases"></el-option>
											</el-select>
										</el-col>
										<el-col :span="12" style="padding: 0 10px;margin-bottom:10px; ">
											<el-input type="text" v-model="item.remark" placeholder="请输入描述"></el-input>
										</el-col>
										<el-col :span="2">
											<el-button @click="del('sql',ind)">删除</el-button>
										</el-col>
									</el-row>

									<el-row>
										<el-col>
											<el-input type="textarea" v-model="item.crud" :row="6" :placeholder="`请输入sql语句`"></el-input>
										</el-col>
									</el-row>
								</div>
							</el-form-item>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="22">
							<el-form-item label="package">
								<el-button @click="add('package',{name:'',branch:''})">添加</el-button>
								<div v-for="(item,ind) in form.package" :key="ind" class="fields-group">
									<el-row :gutter="10" style="margin-top: 10px;margin-bottom: 10px;">
										<el-col :span="10">
											<el-select v-model="item.name" placeholder="请选择包名">
												<el-option label="请选择包名" value="''"></el-option>
												<el-option :label="option.label" :value="option.value" v-for="option in packages"></el-option>
											</el-select>
										</el-col>
										<el-col :span="12">
											<el-select v-model="item.branch" placeholder="请选择分支">
												<el-option label="请选择分支" value="''"></el-option>
												<el-option :label="option.label" :value="option.value" v-for="option in branches"></el-option>
											</el-select>
										</el-col>
										<el-col :span="2">
											<el-button @click="del('package',ind)">删除</el-button>
										</el-col>
									</el-row>
								</div>
							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="22">
							<el-form-item label="service">
								<el-button @click="add('service',{
								name:'',
								branch:'',
								env:[{
									key:'',
									value:'',
									handle:'',
								}],
								script:[
									{
										cmd:'',
										remark:'',
									}
								]
							})">添加</el-button>
								<div v-for="(item,ind) in form.service" class="fields-group">
									<el-row :gutter="10" style="margin-top: 10px;margin-bottom: 10px;">
										<el-col :span="10">
											<el-select v-model="item.name" placeholder="请选择服务器名">
												<el-option label="请选择服务器名" value="''"></el-option>
												<el-option :label="option.label" :value="option.value" v-for="option in services"></el-option>
											</el-select>
										</el-col>
										<el-col :span="12">
											<el-select v-model="item.branch" placeholder="请选择分支名">
												<el-option label="请选择分支" value="''"></el-option>
												<el-option :label="option.label" :value="option.value" v-for="option in branches"></el-option>
											</el-select>
										</el-col>
										<el-col :span="2">
											<el-button @click="del('service',ind)">删除</el-button>
										</el-col>

									</el-row>
									<el-row :gutter="20">
											<el-col :span="12">
												<div class="fields-group">
													<el-row style="margin-left: 15px;">
														<el-col>
															<el-button @click="add('service',{
									key:'',
									value:'',
									handle:'',
								},'env',ind)">增加</el-button>
														</el-col>
													</el-row>
													<el-row v-for="(item2,index) in item.env" :gutter="10" style="margin-top:10px;margin-bottom: 10px;margin-left: 10px; ">
														<el-col :span="6">
															<el-input v-model="item2.key" placeholder="请输入Key值"></el-input>
														</el-col>
														<el-col :span="6">
															<el-input v-model="item2.value" placeholder="请输入Value值"></el-input>
														</el-col>
														<el-col :span="8">
															<el-select v-model="item2.handle">
																<el-option label="增加" value="add"></el-option>
																<el-option	label="修改" value="fix"></el-option>
																<el-option	label="删除" value="del"></el-option>
															</el-select>
														</el-col>
														<el-col :span="2">
															<el-button @click="del('service',index,'env',ind)">删除</el-button>
														</el-col>
													</el-row>
												</div>

											</el-col>
											<el-col :span="12">
												<div class="fields-group">
													<el-row>
														<el-col>
															<el-button @click="add('service',{
										cmd:'',
										remark:'',
									},'script',ind)">增加</el-button>
														</el-col>
													</el-row>
													<div class="fields-group" v-for="(item2,index) in item.script ">
														<el-row :gutter="10" style="margin-top:10px;margin-bottom: 10px;margin-left: 10px;">
															<el-col :span="20">
																<el-input v-model="item2.cmd" placeholder="请输入命令"></el-input>
															</el-col>
															<el-col :span="2">
																<el-button @click="del('service',index,'script',ind)">删除</el-button>
															</el-col>
														</el-row>
														<el-row style="margin-left: 15px;">
															<el-col :span="20">
																<el-input type="textarea" v-model="item2.remark" placeholder="请输入命令备注"></el-input>
															</el-col>
														</el-row>
													</div>
												</div>

											</el-col>
									</el-row>
								</div>

							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="22">
							<el-form-item label="描述">
								<el-input type="textarea" :rows="6" v-model="form.content" placeholder="请输入描述"></el-input>
							</el-form-item>
						</el-col>
					</el-row>

					<el-row>
						<el-col :span="2" :offset="3" >
							<el-button @click="submit">提交(打印)</el-button>
						</el-col>

					</el-row>
				</el-form>

			</el-main>
		</el-container>

	</el-container>

</div>

<script>
	var app=new Vue(
			{
				el: '#app',
				data : function () {
					let params=new URLSearchParams(location.search);
					let name=params.get('name');
					let release_id=params.get('release_id');
					return {
						form: {
							title: '',
							author:'',
							sql:[{db:'',crud:'',remark:''}],
							package:[{name:'',branch:''}],
							service:[{
								name:'',
								branch:'',
								env:[{
									key:'',
									value:'',
									handle:'',
								}],
								script:[
									{
										cmd:'',
										remark:'',
									}
								]
							}],
							content:'',
						},
						col:8,//表格列跨的span数
						/**
						 * 数据库筛选源 可以从接口获取后赋值给该字段
						 */
						databases:[
							{label:'数据库1',value:1},
							{label:'数据库2',value:2},
							{label:'数据库3',value:3},
							{label:'数据库4',value:4},
							{label:'数据库5',value:5},
							{label:'数据库6',value:6},
						],
						/**
						 * 包名筛选 可以从接口获取后复制给该字段
						 */
						packages:[
							{label:'包名1',value:1},
							{label:'包名2',value:2},
							{label:'包名3',value:3},
							{label:'包名4',value:4},
							{label:'包名5',value:5},
							{label:'包名6',value:6},
						],
						/**
						 * 分支名 可以从接口获取后赋值给该字段
						 */
						branches:[
							{label:'分支1',value:1},
							{label:'分支2',value:2},
							{label:'分支3',value:3},
							{label:'分支4',value:4},
							{label:'分支5',value:5},
							{label:'分支6',value:6},
						],
						/**
						 * 服务器名 可以从接口获取后赋值给该字段
						 */
						services:[
							{label:'服务器1',value:1},
							{label:'服务器2',value:2},
							{label:'服务器3',value:3},
							{label:'服务器4',value:4},
							{label:'服务器5',value:5},
							{label:'服务器6',value:6},
						],
						name:name,
						release_id:release_id,
					}
				},
				created: function(){
					if(this.release_id!=''&&this.release_id!=null){
						this.getInfo();
					}
					this.getCommon();
					this.getBranch();
				},
				methods:{
					del(type,ind,prop,itemIndex){
						if(prop){
							this.form[type][itemIndex][prop].splice(ind,1);
						}else{
							this.form[type].splice(ind,1);
						}

						console.info(this.form);
					},
					add(type,item,prop,itemIndex){
						if(prop){
							this.form[type][itemIndex][prop].push(item);
						}else{
							this.form[type].push(item);
						}

						console.info(this.form);
					},
					getCommon(){
						axios.get(api.devops_release_common).then(function (result) {
							let data=result.data;
							if(data.status==1){
								data=data.data;
								app.databases=data.databases;
								app.packages=data.packages;
								app.services=data.services;
							}else{
								alert(data.msg);
							}
						}).catch(function (e) {
							console.error(e);
						})
					},
					getBranch(){
						let params=new URLSearchParams(location.search);
						let name=params.get('name')||'user-package';
						axios.get(api.devops_git_branch,{params:{name:name}}).then(function (result) {
							let data=result.data;
							if(data.status==1){
								data=data.data;
								app.branches=data;
							}else{
								alert(data.msg);
							}
						}).catch(function (e) {
							console.error(e);
						})
					},
					getInfo(){
						axios.get(api.devops_release_info, {params:{release_id: this.release_id}}).then(function (result) {
                           let data=result.data;
                           if(data.status==1){
                           		data=data.data;
                           		delete data.created_at;
                           		delete data.status;
							    delete data.updated_at;
							    app.release_id=data.id;
							    delete data.id;
							    app.form=data;
						   }else{
                           	console.info(data.msg)
						   }
						}).catch(function (e) {
							console.info(e)
						})
					},
					submit(){
						let url=this.release_id!=''?api.devops_release_edit:api.devops_release_add
						axios.post(url,this.form).then(function (result) {

						}).catch(function (e) {
							console.info(e)
						})
					}
				}
			}
	);
</script>
</body>
</html>



